/* Stylesheet reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

/* Header and navigation bar styles */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #484848;
  border-bottom: 1px solid #dadada;
}

header > a {
  width: 120px;
  height: 55px;
  background-color: #e60012;
  color: #fff;
}

.logo-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-center img {
  filter: brightness(20);
}

nav {
  margin-left: auto;
  margin-right: 30px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 15px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

nav ul li a,
nav ul li a:visited {
  text-decoration: none;
  color: #484848;
}

#nav-bar-search {
  justify-self: flex-start;
  flex-basis: 350px;
  margin-left: 20px;
  border-bottom: 1px solid #484848;
}

#nav-bar-search input {
  border: 0;
  outline: none;
  width: 90%;
  padding-bottom: 7px;
  cursor: pointer;
}

a i,
li i {
  padding-left: 10px;
  margin-right: 5px;
}

nav ul li a:hover,
nav ul li:hover {
  animation-name: navigationBarHoverEffect;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
}

/* Animation that runs when navigating over text in the navigation bar */

@keyframes navigationBarHoverEffect {
  100% {
    color: #e60012;
  }
}

#bottom-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

/* Dropdown menus in the navigation bar */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  position: absolute;
  z-index: 1;
  margin-top: 10px;
}

.dropdown-content a {
  display: block;
  padding: 16px 20px;
}

.show {
  display: block;
}
