/* Stylesheet reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

/* Header and navigation bar styles */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #484848;
  border-bottom: 1px solid #dadada;
}

header > a {
  width: 120px;
  height: 55px;
  background-color: #e60012;
  color: #fff;
}

.logo-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-center img {
  filter: brightness(20);
}

nav {
  margin-left: auto;
  margin-right: 30px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 15px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

nav ul li a,
nav ul li a:visited {
  text-decoration: none;
  color: #484848;
}

#nav-bar-search {
  justify-self: flex-start;
  flex-basis: 350px;
  margin-left: 20px;
  border-bottom: 1px solid #484848;
}

#nav-bar-search input {
  border: 0;
  outline: none;
  width: 90%;
  padding-bottom: 7px;
  cursor: pointer;
}

a i,
li i {
  padding-left: 10px;
  margin-right: 5px;
}

nav ul li a:hover,
nav ul li:hover {
  animation-name: navigationBarHoverEffect;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
}

/* Animation that runs when navigating over text in the navigation bar */

@keyframes navigationBarHoverEffect {
  100% {
    color: #e60012;
  }
}

#bottom-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

/* Dropdown menus in the navigation bar */
.dropdown {
  display: inline;
}

.dropdown-content {
  display: none;
  width: 100vw;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.dropdown-tiles {
  display: flex;
  justify-content: center;
}

.dropdown-content a {
  padding: 16px 20px;
}

.dropdown-content-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dropdown-content-box-name {
  margin-top: 10px;
}

.dropdown-content-box img {
  width: 100%;
  height: 68px;
  object-fit: contain;
  background-color: white;
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-content-box img:hover {
  animation-name: dropdownContentBoxHoverEffect;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.show {
  display: block;
}

@keyframes dropdownContentBoxHoverEffect {
  100% {
    background-color: #e60012;
  }
}

.dropdown-exit-btn {
  font-size: 36px;
  position: absolute;
  top: 0;
  right: 10px;
  transform: rotate(45deg);
  color: #727272;
  transition: color 0.15s;
}

.dropdown-exit-btn:hover {
  color: #e60012;
}

#hero-image img {
  width: 100%;
  height: auto;
}
